@import './colors.less';
@import './fonts.less';
@import './mixins.less';

.bp3-button.bp3-intent-primary {
	background-color: @primary-color;

	&:hover {
		background-color: darken(@primary-color, 4%);
	}

	&:active {
		background-color: darken(@primary-color, 8%);
	}
}

.bp3-button.bp3-minimal.bp3-intent-primary {
	color: @primary-color;
	background-color: rgba(0, 0, 0, 0);

	&:hover {
		background-color: fadeout(@primary-color, 90%);
		color: @primary-color;
	}

	&:active {
		background-color: fadeout(@primary-color, 85%);
		color: @primary-color;
	}

	.bp3-icon {
		color: @primary-color;
	}
}

.bp3-select-popover .bp3-popover-content {
	background-color: #EFD8AC;
	color: @text-color !important;
	font-family: @body-font !important;

	.bp3-input {
		background-color: #f6e5c3;
		color: @text-color !important;
	}

	.bp3-icon {
		color: @text-color;
	}

	.bp3-button.bp3-minimal {
		.with-button-styles(@text-color);
	}
}

.bp3-menu {
	background-color: #EFD8AC;
	color: @text-color;
	font-family: 'Overpass'; 
}