@import './colors.less';
@import './fonts.less';

.with-button-styles(@color) {
	color: @color;
	background-color: rgba(0, 0, 0, 0);

	&:hover {
		background-color: fadeout(@color, 90%);
		color: @color;
	}

	&:active {
		background-color: fadeout(@color, 85%);
		color: @color;
	}

	.icon {
		color: @color !important;
	}

	:global(.bp3-icon) {
		color: @color !important;
	}

	&:global(.bp3-disabled), &:global(.bp3-disabled .bp3-icon) {
		color: fadeout(@color, 50%) !important;
	}

	&:global(.bp3-disabled):hover, &:global(.bp3-disabled):active {
		background-color: rgba(0, 0, 0, 0);
	}
}

.with-popover-styles() {
	:global(.bp3-popover-content) {
		background-color: #EFD8AC;
		color: @text-color !important;
		font-family: @body-font !important;

		:global(.bp3-input) {
			background-color: #f6e5c3;
			color: @text-color !important;
		}

		:global(.bp3-icon) {
			color: @text-color;
		}

		:global(.bp3-button.bp3-minimal) {
			.with-button-styles(@text-color);
		}
	}

	:global(.bp3-popover-arrow-fill) {
		fill: #EFD8AC;
	}
}

.with-max-lines(@line-count, @color) {
	display: block;
	-webkit-line-clamp: @line-count;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	line-height: 1.3em;
	overflow: hidden;

	@-moz-document url-prefix() {
		overflow: hidden;
		position: relative;
		max-height: 1.3em * @line-count;
		&:before {
			background-color: @color;
			bottom: 0;
			position: absolute;
			right: 0;
			float: right;
			content: '\2026';
			margin-left: -3rem;
			width: 3rem;
		}
		&:after {
			content: '';
			background-color: @color;
			position: absolute;
			height: 50px;
			width: 100%;
			z-index: 1;
		}
	}
}
