@import '../../../styles/fonts.less';
@import '../../../styles/colors.less';
/*style the button, header text? and font, draw square, output?*/
.h1 {
	font-family: @header-font;
	font-size: 21px;
}

.primary {
	color: @primary-color;
}

.buttonClick{
	background: #6C2C22;
}

//drawing output box
.outputContainer{
	font-family: Arial;
	font-size: 17px;
	border-radius: 25px;
	background: #EFD8AC;
	padding: 20px; 
	width: 200px;
	height: 150px;
}
