@import '../../../styles/fonts.less';
@import '../../../styles/colors.less';
/*style the button, header text? and font, draw square, output?*/

//drawing output box
.dice{
	display: flex;
	margin: 10px auto;
	font-size: 20px;
	border-color: @text-color;
	border-style: solid; 
	border-radius: 2px;
	padding: 10px;
	min-width: 10px;
	min-height: 10px;
	max-width: 45px;
	max-height: 45px;
	justify-content: center;
	align-content: center;
	color: @text-color;
}

.centered{
	display: flex;
	align-content: center;
	flex-direction: column;
	align-items: center;
}
