@import '../../../../styles/colors.less';
@import '../../../../styles/mixins.less';

.root {
	padding: 10px;
}

.button {
	margin-left: 10px;
	
	.with-button-styles(@text-color) !important;
}

.popover {
	.with-popover-styles();
}

.popover-content {
	padding: 5px;
	text-align: center;

	&-title {
		font-size: 12pt;
		margin-bottom: 6px;
	}
}
