@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';
@import '../../../styles/mixins.less';

.toolbar {
	height: 40px;
	display: flex;
	align-items: center;
	background-color: @primary-color;
	border-bottom: 1px solid black;
	padding-left: 6px;

	.toolbar-button {
		color: #F7E3AF !important;
		font-family: @header-font;
		margin: 0 6px;
		height: 100%;
		border-radius: 0;
		font-size: 16px;

		&:hover {
			color: #F7E3AF;
		}

		&:active {
			color: #F7E3AF;
		}
	}

	.spacer {
		flex-grow: 1;
	}
}

.toolbar-menu {
	background-color: #EFD8AC;
	color: @text-color;
	font-family: @body-font;
}

.dialog-root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.dialog-card, .dialog-card-edit-layouts {
		width: 50%;
		max-width: 400px;
		background-color: @background-color-dark;
		padding: 10px;
		border-radius: 4px;

		.title {
			margin-top: 5px;
		}
		
		.input {
			width: 100%;
		}

		.button-container, .button-container-edit-layouts {
			display: flex;
			justify-content: space-between;
			margin-top: 12px;
		}

		.button-minimal {
			.with-button-styles(@text-color);
		}

		.button-container-edit-layouts {
			justify-content: flex-end;
		}

		.sortable-item {
			margin: 0;
			display: flex;
			align-items: center;

			.name {
				color: @text-color;
			}

			.icon {
				color: @text-color;

				&.drag-handle {
					margin-right: 8px;
				}
			}

			.spacer {
				flex-grow: 1;
			}

			.default-button {
				display: none;
				opacity: .75;

				&.default-selected {
					display: flex;
					opacity: 1;
				}
			}

			&:hover {
				.default-button {
					display: flex;
				}
			}
		}
	}

	.dialog-card-edit-layouts {
		min-height: fit-content;
		max-height: 400px;
		height: 50%;
		display: flex;
		flex-direction: column;

		.sortable-item-container {
			flex-grow: 1;

			.sortable-item-content {
				max-height: 100%;
				overflow-y: auto;
			}
		}
	}
}