@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';
@import '../../../styles/mixins.less';

.toolbar {
	height: 40px;
	display: flex;
	align-items: center;
	background-color: @primary-color;
	border-bottom: 1px solid black;
	padding-left: 6px;

	.toolbar-button {
		color: #F7E3AF !important;
		font-family: @header-font;
		margin: 0 6px;
		height: 100%;
		border-radius: 0;
		font-size: 16px;

		&:hover {
			color: #F7E3AF;
		}

		&:active {
			color: #F7E3AF;
		}
	}

	.spacer {
		flex-grow: 1;
	}
}

.toolbar-menu {
	background-color: #EFD8AC;
	color: @text-color;
	font-family: @body-font;
}

.dialog-root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.dialog-card {
		width: 50%;
		max-width: 400px;
		background-color: @background-color-dark;
		padding: 10px;
		border-radius: 4px;

		.title {
			margin-top: 5px;
		}
		
		.input {
			width: 100%;
		}

		.button-container {
			display: flex;
			justify-content: space-between;
			margin-top: 12px;

			.button-minimal {
				.with-button-styles(@text-color);
			}
		}
	}
}